<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.liu.abing">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    //buyly 的热更新操作
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:persistent="true"
        tools:replace="Android:icon, android:theme">
        <activity android:name=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewsDetailActivity" />
        <activity android:name=".slide.SlideActivity" />
        <activity android:name=".slide.recyclerviewslide.RecyclerViewSlideActivity" />
        <activity android:name=".roll.TextViewRollActivity" />
        <activity android:name=".steps.StepsHActivity" />
        <activity android:name=".drag.DragLActivity" />
        <activity android:name=".shopcar.ShopCarActivity" />
        <activity
            android:name=".steps.step.fragment.StepActivity"
            android:theme="@style/StepTheme">

        </activity>
        <activity android:name=".steps.step.fragment.TestHorizontalStepViewActivity" />
        <activity android:name=".ColorGradActivity" />
        <activity android:name=".IndexBarActivity" />
        <activity android:name=".chart.ChartActivity" />
        <activity android:name=".chart.PieChartActivity" />
        <activity android:name=".drag.DragActivity" />
        <activity android:name=".drag.DragLOActivity" />
        <activity android:name=".drag.DragThreeActivity" />
        <activity android:name=".network.NetworkRequestActivity" />
        <activity android:name=".highlight.HighlightActivity" />
        <activity android:name=".HintPopWActivity" />
        <activity android:name=".FastBlurActivity" />
        <activity android:name=".ZoominActivity" />
        <activity android:name=".refresh.RefreshActivity" />
        <activity android:name=".refresh.SwipeRefreshLayoutActivity" />
        <activity android:name=".refresh.OnlyListViewActivity" />
        <activity
            android:name=".VersionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".dropdownmenu.DropDownMenuActivity" />
        <activity android:name=".EasyFlipActivity" />
        <activity android:name=".dialog.LiuDialogActivity" />
        <activity android:name=".dialog.BubblePopupActivity" />
        <activity android:name=".dialog.CustomPopupActivity" />
        <activity android:name=".dialog.PopupHomeActivity" />
        <activity android:name=".dialog.SimpleHomeActivity" />
        <activity android:name=".stickynav.StickyNavActiviy" />
        <activity android:name=".handwrite.SignUsActivity" />
        <activity android:name=".handwrite.HandWriteActivity" />
        <activity
            android:name=".handwrite.LandscapeActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".drawphotoview.DragPhotoActivity"
            android:theme="@style/translucent" />
        <activity android:name=".drawphotoview.MainActivity" />
        <activity android:name=".dialog.SampleActivity" />
        <activity android:name=".ListEditActivity" />
        <activity android:name=".service.KeepProcessActivity" />

        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:process=":service">
            <intent-filter>
                <action android:name="com.liu.abing.service.TestService"/>
            </intent-filter>

        </service>
        <receiver android:name=".service.TestReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="com.liubing.destroy"/> //这个就是自定义的action
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>